body {
  background-color: #fcfefc;
  overflow: hidden;
}

.container-fluid {
  padding: 0px;
}
.title {
  height: 250px;
  margin-top: 0px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 0px;
  padding: 0px;
}

#Gif-input {
  padding: 5px 8px 5px 16px;
  background-color: whitesmoke;
  margin: auto;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  margin-top: 0%;
  width: 60%;
}

#Gif-input:hover {
  box-shadow: 0.5px 0.5px 1.5px 0.5px #888888;
}

#search-Gif {
  width: 60%;
  margin: auto;
  margin-top: 5px;
  display: flex;
  flex: 100%;
  padding-left: 25%;
  padding-right: 25%;
  box-shadow: 0.8px 0.5px 1.5px 0.5px #888888;

  /* background-color: #59cdfb; */
}

.favs {
  float: left;
  overflow: auto;
  width: 25%;
  background-color: #6c757d;
  /* background-color: #59cdfb; */
  z-index: 0;
  height: 718px;
  box-shadow: 0.5px 0.5px 1.5px 0.5px #888888;
  padding-left: 35px;
  padding-right: 20px;
  padding-top: 0px;
  -webkit-box-shadow: -4px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.Inner-favs {
  overflow: auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
  max-height: 420px;
}

.Gif-result {
  overflow-x: visible;
  white-space: nowrap;
  height: 270px;
  overflow: auto;
  /* background-color: #eb626b; */
  background-color: #232525be;
  /* opacity: 0.95; */
  z-index: 1;
  position: relative;
  bottom: 290px;
  -webkit-box-shadow: 0px -3px 19px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -3px 19px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -3px 19px 5px rgba(0, 0, 0, 0.75);
}

.Gif-container {
  display: inline-block;
  opacity: 1;
  height: 200px;
  width: 300px;
  border-radius: 25px;
  background-color: whitesmoke;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 20px;
  padding: 25px;
  -webkit-box-shadow: inset 5px 5px 30px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 5px 5px 30px 5px rgba(0, 0, 0, 0.75);
  box-shadow: inset 5px 5px 30px 5px rgba(0, 0, 0, 0.75);
  z-index: 0;
}

.Gif-Individual {
  height: 150px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}

.Initial-button {
  margin-left: 13px;
  margin-bottom: 13px;
  height: 83px;
  width: 83px;
  padding: 5px;
  overflow: hidden;
  word-wrap: break-word;
  border-radius: 20px;
  box-shadow: 0.5px 0.5px 1.5px 0.5px #888888;
  /* background-color: #59cdfb; */
  -webkit-box-shadow: 6px 6px 14px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 14px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 14px -3px rgba(0, 0, 0, 0.75);
  background: rgba(71, 78, 82, 1);
  background: -moz-linear-gradient(
    left,
    rgba(71, 78, 82, 1) 0%,
    rgba(145, 145, 145, 1) 99%,
    rgba(153, 153, 153, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(71, 78, 82, 1)),
    color-stop(99%, rgba(145, 145, 145, 1)),
    color-stop(100%, rgba(153, 153, 153, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(71, 78, 82, 1) 0%,
    rgba(145, 145, 145, 1) 99%,
    rgba(153, 153, 153, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(71, 78, 82, 1) 0%,
    rgba(145, 145, 145, 1) 99%,
    rgba(153, 153, 153, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(71, 78, 82, 1) 0%,
    rgba(145, 145, 145, 1) 99%,
    rgba(153, 153, 153, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(71, 78, 82, 1) 0%,
    rgba(145, 145, 145, 1) 99%,
    rgba(153, 153, 153, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474e52', endColorstr='#999999', GradientType=1 );
  border: none;
}

.Initial-button:hover {
  margin-right: 13px;
  margin-bottom: 13px;
  height: 83px;
  width: 83px;
  border-radius: 20px;
  box-shadow: 0.5px 0.5px 1.5px 0.5px #888888;
  /* background-color: #59cdfb; */
  -webkit-box-shadow: 6px 6px 14px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 14px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 14px -3px rgba(0, 0, 0, 0.75);
  background: rgba(226, 226, 226, 1);
  color: rgb(70, 70, 70);
}
.Initial-buttons {
  overflow: auto;
  padding: 15px;
  height: 428px;
}

.Gif-favs {
  margin-right: 10px;
  margin-bottom: 10px;
  height: 80px;
  width: 80px;
  border-radius: 20px;
  box-shadow: 0.5px 0.5px 1.5px 0.5px #888888;
  -webkit-box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.arrow-left {
  width: 120px;
  color: whitesmoke;
  font-size: 3em;
  position: fixed;
  left: 20px;
  bottom: 100px;
  float: left;
  z-index: 3;
}

.arrow-right {
  width: 120px;
  color: whitesmoke;
  font-size: 3em;
  position: fixed;
  right: 20px;
  bottom: 100px;
  z-index: 3;
}

h6 {
  position: relative;
  top: 20px;
  font-family: comic Arial, Helvetica, sans-serif;
}

.data-screen {
  position: absolute;
  height: 150px;
  width: 250px;
  background-color: whitesmoke;
  color: #6c757d;
  position: relative;
  top: -150px;
  left: 0px;
  opacity: 0;
  z-index: -1;
}

.data-screen:hover {
  opacity: 0.8;
}

.opacity:hover {
  opacity: 0.5;
}

h6 {
  z-index: 4;
  font-size: 0.4em;
  position: relative;
  top: -145px;
  text-align: center;
}
